@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@800&family=Raleway:wght@400;800&display=swap');

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Raleway', sans-serif;
    --main-color: black;
    --accent-color: red;
    color: var(--main-color);
}
body{
    max-width: 900px;
    margin: auto;
}
 header nav h1,
 header .banner .title {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}
header nav .top-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}
header nav .top-menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 5px;
    border: 1px solid transparent;
}
header nav .top-menu li a:hover {
    border: 1px solid var(--main-color); 
}
@media (min-width: 500px){
    header nav{
        display: flex;
    }
    header .top-menu{
        flex: 1;
        align-items: center;
    }
}

header .banner {
    background-image: url(../img/mm.png);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
header .banner .title{
    color: var(--accent-color);
}
